<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div style="margin-top: 30px; padding-left: 65px;">
                <button class="k-button" (click)="openDynamicLauncher()">
                    <i class="fa fa-play"></i>
                    &nbsp;
                    Dynamic Launcher
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" style="margin: 0px; padding: 0px">
            <smart-form #dynamicLauncherForm *ngIf="selectedLayout" [smart-form-layout]="selectedLayout"></smart-form>
        </div>
    </div>
</div>