<div class="container-fluid">
  <form class="form-horizontal">
    <div class="form-group">
        <label for="inputFilename" class="col-xs-4 control-label">Filename:</label>
        <div class="col-xs-8">
            <input type="text" class="form-control" name="inputFileName" id="inputFileName" [(ngModel)]="fileName" placeholder="Filename">
            <br><a (click)=click($event)>.restapplicationsettings</a>
            <a (click)=click($event)>.applicationsettings</a>
            <a (click)=click($event)>.classpath</a>
        </div>
    </div>
    <div class="form-group">
        <label for="inputSearch" class="col-xs-4 control-label">SEARCH():</label>
        <div class="col-xs-8">
            <input type="text" class="form-control" name="inputSearch" id="inputSearch" [(ngModel)]="searchResult" readonly>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
          <button (click)="searchFile()">Search file</button>
        </div>
    </div>
  </form>

  <kendo-grid [data]="fileInfo" scrollable="none">
    <kendo-grid-column field="Property">
      <ng-template kendoGridHeaderTemplate>
        <p style="font-weight: bold">Property</p>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="Value">
      <ng-template kendoGridHeaderTemplate>
        <p style="font-weight: bold">Value</p>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>
</div>
