.order {
    position: relative;
    color: red;
}

::ng-deep td[role=gridcell].k-state-selected, 
::ng-deep td[role=gridcell].k-state-selected .k-link {
    background-color: white !important;
    border-color: #007bff !important;
    color: #007bff !important;
}
