<div class="container-fluid" style="width: 300px;">
    <div class="row">
        <div class="col-xs-12">
            <label class="control-label">Form Name:</label>
            <smart-lookup
                smart-business-entity-name="Consultingwerk.SmartFramework.Repository.Object.ObjectMasterBusinessEntity"
                smart-entity-table="eSmartObjectMaster"
                smart-grid-layout="frontend://assets/object-master-grid.layout.json"
                smart-lookup-key-value-field="ObjectName"
                smart-lookup-key-field="ObjectName"
                smart-lookup-header="Lookup Object Master"
                smart-lookup-dialog-options="width=700px;height=500px"
                [(smartModel)]="selectedObjectMaster">
            </smart-lookup>
        </div>
    </div>
</div>