<smart-hamburger-menu class="visible-xs" *ngIf="authenticated">
  <a class="menu-header" smart-accordion-menu-heading>Demo Application</a>
</smart-hamburger-menu>
<app-navbar class="hidden-xs" *ngIf="authenticated"></app-navbar>
<div class="container-fluid">
  <div class="row">
    <!-- header -->
    <!--<img class="hidden-xs hidden-sm cwlogo" src="./assets/consultingwerk.jpg" />
    <img class="scllogo hidden-xs" src="./assets/logo.png" />
    <div class="userinfo" *ngIf="authenticated && sessionCtx && !!sessionCtx.UserName">
      <div class="visible-xs hidden-sm hidden-md hidden-lg col-xs-12" style="height: 30px; padding-right: 0px; padding-left: 0px;"></div>
      <label for="languagePicker">Language</label>
      <span>
        &nbsp;&nbsp;
        <smart-language-picker id="languagePicker"></smart-language-picker>
      </span>
      <br>
      {{sessionCtx?.UserFullName || sessionCtx?.UserName}},&nbsp;
      {{sessionCtx?.LoginCompanyName || sessionCtx?.LoginCompanyKey}}
      <span>
        <a role="button" *smartRole="'logout'; afterLogoutPage: 'logout'">Logout</a>
      </span>
    </div>-->
    <div class="hidden-xs col-md-offset-3" *ngIf="authenticated" style="padding-left: 15px; margin-top: -15px;">
      <h1>Demo Application</h1>
    </div>
  </div>
  <div class="wrapper" *ngIf="smartConfig.mdiInterface">
    <div class="row">
      <div class="col-xs-12 col-sm-3 hidden-xs">
        <smart-accordion-menu *ngIf="authenticated"></smart-accordion-menu>
      </div>
      <div class="visible-xs hidden-sm hidden-md hidden-lg col-xs-12" style="height: 30px"></div>
      <div class="col-xs-12 col-sm-9">
        <router-outlet></router-outlet>
        <router-outlet name="view" *ngIf="!smartConfig.mdiInterface"></router-outlet>
        <smart-mdi></smart-mdi>
      </div>
    </div>
  </div>

  <!-- adjust layout for breadcrumb view -->
  <div class="wrapper" *ngIf="!smartConfig.mdiInterface">
    <div class="row">
      <div class="col-xs-12 col-sm-3 hidden-xs">
        <smart-accordion-menu *ngIf="authenticated"></smart-accordion-menu>
      </div>
      <div class="visible-xs hidden-sm hidden-md hidden-lg col-xs-12" style="height: 30px"></div>
      <div class="col-xs-12 col-sm-9">
        <div style="padding-left: 10px" *ngIf="smartConfig.breadcrumbNavigation">
          <smart-breadcrumb-navigation *ngIf="authenticated"></smart-breadcrumb-navigation>
        </div>
        <router-outlet></router-outlet>
        <router-outlet name="view" *ngIf="!smartConfig.mdiInterface"></router-outlet>
      </div>
    </div>
  </div>
  <smart-dialog-outlet></smart-dialog-outlet>

  <div class="foxlogo hidden-xs hidden-sm">
    <img src="./assets/fuchs_rechts.jpg" />
  </div>
  <footer class="footer">
    <p>&copy;{{currentYear}} Consultingwerk Ltd. - <a href="https://www.consultingwerk.com" target="_blank">https://www.consultingwerk.com</a></p>
  </footer>
