.cwlogo {
  position: absolute;
  padding: 2px;
  left: 0px;
  top: 0px;
}

.menu-header, .menu-header:hover {
  cursor: default;
  text-decoration: none;
}

.scllogo {
  position: absolute;
  right: 0px;
  top: 0px;
}

.wrapper {
  padding-top: 40px;
  margin-bottom: 50px;
  bottom: 50px;
  height: 86vh;
}

.footer {
  text-align: center;
  font-size: 12;
  color: darkgray;
  position: relative;
  margin-top: -50px;
  clear: both;
  width: 100%;
  height: 50px;
  padding-top:15px;
}

.foxlogo {
  position: fixed;
  margin-left: 10px;
  bottom: 0px;
  margin-bottom: 50px;
  z-index: -5;
}

.userinfo {
  position: absolute;
  right: 5px;
  padding-top: 30px;
  top: 0px;
}
