<div class="container-fluid">
  <form class="form-horizontal">
    <div class="form-group">
        <label for="inputUsername" class="col-md-2 col-xs-4 control-label">User name:</label>
        <div class="col-md-4 col-xs-8">
            <input type="text" class="form-control" name="inputUsername" id="inputUsername" [(ngModel)]="userName" placeholder="User name">
        </div>
        <label for="inputPassword" class="col-md-2 col-xs-4 control-label">Password:</label>
        <div class="col-md-4 col-xs-8">
            <input type="password" class="form-control" name="inputPassword" id="inputPassword" [(ngModel)]="password">
        </div>
    </div>
    <div class="form-group">
        <label for="inputApplication" class="col-md-2 col-xs-4 control-label">Application:</label>
        <div class="col-md-4 col-xs-8">
            <kendo-combobox [data]="applications" [(value)]="selectedApplication" class="form-control"> </kendo-combobox>
        </div>
        <div class="col-md-3 col-xs-6">
          <button (click)="fetchApplications()">
            <span class="glyphicon glyphicon-refresh"></span>&nbsp;Fetch Applications</button>
        </div>
    </div>
  </form>

  <kendo-grid [data]="servers" scrollable="scrollable" height="250">
    <kendo-grid-column field="agentId">
      <ng-template kendoGridHeaderTemplate>
        <p style="font-weight: bold">agentId</p>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="pid">
      <ng-template kendoGridHeaderTemplate>
        <p style="font-weight: bold">pid</p>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="state">
      <ng-template kendoGridHeaderTemplate>
        <p style="font-weight: bold">state</p>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>

  <form class="form-horizontal">
      <p></p>
      <div class="col-md-2 col-xs-4">
        <button (click)="fetchServers()" [disabled]="selectedApplication == ''">
          <span class="glyphicon glyphicon-refresh"></span>&nbsp;Fetch Servers</button>
      </div>
      <div class="col-md-2 col-xs-4">

      <button (click)="trimServers()" [disabled]="selectedApplication == ''">
        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;Trim Servers</button>
    </div>
  </form>
</div>

<br />
<pre  *ngIf="!!fetchApplicationResult">{{fetchApplicationResult | json}}</pre>

