<div class="container-fluid">
    <form class="form-horizontal">
      <div class="form-group">
          <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="onFileDrop($event)" 
          (onFileOver)="fileIsOver=true" (onFileLeave)="fileIsOver=false">
              <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                <abl-editor [(ablSource)]="ablSource" (ctrlXPressed)="executeAbl()" [ngClass]="{'file-is-over': fileIsOver, 'file-is-outside': !fileIsOver}"></abl-editor>
              </ng-template>  
          </ngx-file-drop>
      </div>
      <div class="form-group">
          <div class="col-xs-12">

            <button (click)="executeAbl()" class="k-button">
                <i class="fa fa-play-circle"></i>
                <span>&nbsp;Execute (CTRL-X)</span>
            </button>
            &nbsp;&nbsp;&nbsp;
            <a href="help.consultingwerkcloud.com/smartcomponent_library/release/" target="_blank">Class Reference</a>

          </div>
      </div>
      <div class="form-group">
          <div class="col-xs-12">
            <textarea class="k-textbox" placeholder="Result" readonly
                      name="inputAblResult" id="inputAblResult" [(ngModel)]="ablResult"></textarea>
          </div>
      </div>
  </form>
</div>
